body,
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke;
}

/* TODO: Body container */
.body-container {
  width: 100vw;
  max-width: 100%;
}

.body-container-item {
  width: 100%;
}

.body-container-item:nth-child(2) {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 10;
}

/* TODO: Navbar */
.nav-bar {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-bar button {
  font-size: 3rem;
  color: white;
  background-color: #051536;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
}

.nav-bar span {
  font-size: 2.5rem;
  color: #051536;
  font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* TODO: Current Category */
.current-category {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.current-category p {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0px 20px;
}

.current-category hr {
  display: none;
}

/* TODO: Menu */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 100%;
}

.food-item-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  cursor: pointer;
  margin: 20px;
}

.food-item-wrapper img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.food-item-content {
  padding: 10px 15px 15px 15px;
}

.food-item-content hr {
  border: 1px solid lightgray;
  opacity: 0.1;
  margin: 5px 0px;
}

.content-header {
  display: flex;
}

.content-header h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.content-header h1:first-child {
  color: red;
  margin-right: 5px;
}

.content-payment {
  display: flex;
  justify-content: space-between;
}

.content-payment p {
  font-size: 1.8rem;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  margin-bottom: 5px;
}

.content-payment button {
  font-size: 1.8rem;
  width: 2em;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* TODO: Categories Carousel */
.category-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px 5px;
  padding-bottom: 10px;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  height: 100px;
  object-fit: fill;
}

.category-card p {
  font-size: 1.8rem;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}

.owl-slider {
  width: 85vw;
  max-width: 100%;
  margin: 10px 30px;
  z-index: 0;
  overflow: hidden;
}

/* TODO: Responsive Component */
@media screen and (min-width: 375px) {
  .food-item-wrapper img {
    height: 180px;
  }
}

@media screen and (min-width: 768px) {
  .owl-slider {
    width: 90vw;
  }

  .food-item-wrapper img {
    height: 150px;
  }

  .current-category hr {
    display: block;
    flex-grow: 1;
    border: 1px solid black;
    margin-right: 20px;
    opacity: 0.1;
  }
}

@media screen and (min-width: 1024px) {
  .body-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .body-container-item:nth-child(2) {
    /* display: block; */
    visibility: visible;
    position: sticky;
    z-index: 0;
    top: 0;
    height: 100vh;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .owl-slider {
    width: 72vw;
    padding: 0px 60px;
    margin: 20px 0px;
  }

  .owl-nav {
    display: block !important;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .owl-carousel .owl-nav button {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: 0;
    margin-left: -40px;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: 0;
    margin-right: -20px;
  }

  .owl-carousel .owl-nav button.owl-prev span,
  .owl-carousel .owl-nav button.owl-next span {
    font-size: 100px;
    color: gray;
  }

  .menu {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .food-item-wrapper img {
    height: 180px;
  }

  .content-header h1 {
    font-size: 2rem;
  }

  .content-payment p,
  .content-payment button {
    font-size: 2rem;
  }

  .cart-top {
    height: 86%;
  }

  .cart-bottom {
    box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 2px 0px;
    height: 14%;
  }

  .bottom-content p {
    display: block;
  }
}
