* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(Background.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.icon {
  display: none;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li ::after {
  content: "";
  height: 3px;
  width: 0;
  background: #cab776;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease;
}
.navbar ul li:hover::after {
  width: 100%;
  content: "";
  height: 3px;
  background: #cab776;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.content {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  left: 0;
  color: #fff;
}
.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  padding-left: 30%;
  padding-right: 30%;
}
.homepagebutton button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #cab776;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.homepagebutton div {
  background: #cab776;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.homepagebutton button:hover {
  border: none;
}
.homepagebutton button:hover div {
  width: 100%;
  z-index: 1;
}

@media (max-width: 1024px) {
  .content {
    top: 15%;
  }
  .content p {
    padding-left: 25%;
    padding-right: 25%;
  }
  .logo {
    width: 100px;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .content {
    top: 24%;
  }
  .logo {
    width: 100%;
    cursor: pointer;
  }
  .navbar div {
    width: 20%;
  }
  .logo {
    width: 100%;
  }
  .navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 5px;
  }
  .content h1 {
    font-size: 40px;
    margin-top: 80px;
  }
  .content p {
    padding-left: 12%;
    padding-right: 12%;
  }
  .homepagebutton button {
    margin: 15px 10px;
  }
}

@media (max-width: 426px) {
  .navbar {
    width: 80%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navbar div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 15;
    /* background-color: rgb(29, 28, 28); */

    padding: 10px 5%;
  }

  .navbar .logo {
    width: 25%;
  }

  .icon {
    display: block;
    width: 35px;
  }

  .icon:last-child {
    display: none;
  }

  .navbar ul {
    position: absolute;
    background-color: black;
    padding-top: 40px;
    width: 100%;
    height: 0;
    top: 100%;
    left: 0;
    opacity: 0;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    transition: opacity 0.2s, height 0.3s, z-index 0.5s;
  }

  .navbar ul li {
    display: block;
  }
}
